<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="${mysql.url}"/>
        <property name="username" value="${mysql.user}"/>
        <property name="password" value="${mysql.password"/>
    </bean>

    <bean id="catalogClient" class="com.akhahaha.shopzilla.catalog.client.CatalogClientImpl">
        <property name="publisherID" value="${catalog.pubID}"/>
        <property name="apiKey" value="${catalog.apiKey}"/>
    </bean>

    <bean id="userDAO" class="com.akhahaha.giftr.service.data.dao.UserDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="matchDAO" class="com.akhahaha.giftr.service.data.dao.MatchDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="productDAO" class="com.akhahaha.giftr.service.data.dao.ProductDAOImpl">
        <property name="catalogClient" ref="catalogClient"/>
    </bean>
</beans>
